
/* lg */
@media only screen and (min-width:992px) and (max-width: 1200px){
    .top-nav{
        padding: 0px 100px;
        margin-top: 45px;
    }
    .main-area{
        margin: 0px 100px;
    }
    .slider h1{
        font-size: 45px;
        width: 602px;
    }
    .slider p{
        font-size: 16px;
        width: 602px;
    }
    .course-header{
        width: 60%;
    }
    .Elearning-box h1{
        font-size: 25px;
        font-weight: 600;
    }
}

/* md */
@media only screen and (min-width:768px) and (max-width: 992px){
    .top-nav{
        padding: 0px 50px;
        margin-top: 40px;
    }
    .main-area{
        margin: 0px 50px;
    }
    .slider h1{
        font-size: 40px;
        width: 550px;
    }
    .slider p{
        font-size: 16px;
        width: 550px;
    }
    .course-header{
        width: 70%;
    }
    .course-section h1{
        font-size: 35px;
        font-weight: 600;
    }
    .Elearning-box h1{
        font-size: 25px;
    }
}
/* sm */
@media only screen and (min-width:576px) and (max-width: 768px){
    .top-nav{
        padding: 0px 30px;
        margin-top: 30px;
    }
    .main-area{
        margin: 0px 30px;
    }
    .slider h1{
        font-size: 30px;
        width: 400px;
    }
    .slider p{
        font-size: 14px;
        width: 400px;
    }
    .course-header{
        width: 90%;
    }
    .course-section h1{
        font-size: 30px;
        font-weight: 600;
    }
    .Elearning-box h1{
        font-size: 25px;
    }
}
/* xsm */
@media only screen and (max-width:576px){
    .top-nav{
        padding: 0px 20px;
        margin-top: 20px;
    }
    .main-area{
        margin: 0px 20px;
    }
    .slider h1{
        font-size: 20px;
        width: 300px;
    }
    .slider p{
        font-size: 10px;
        width: 300px;
    }
    .course-header{
        width: 100%;
    }
    .course-section h1{
        font-size: 25px;
        font-weight: 600;
    }
    .cards img{
        width: 100%;
        
    }
    .Elearning-box h1{
        font-size: 25px;
    }
}