@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap');

body{
    max-width: 1440px;
    font-family: 'Poppins', sans-serif;
}
.top-nav{
    padding: 5px 140px;
    margin-top: 50px;
}
.nav-brand{
    font-size: 40px;
    font-weight: 600;
}
.nav-link-custom{
    font-size: 18px;
}
.main-area{
    margin: 0px 140px;
}
.slider{
    margin-top: 48px;
}
.slider img{
    filter: brightness(70%);
}
.slider h1{
    font-size: 65px;
    font-weight: 600;
    width: 632px;
}
.slider p{
    font-size: 18px;
    width: 632px;
}